.modal {
  background: rgba(29, 29, 30, 0.23);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  padding: 23px;
  width: 500px;
  background: #fff;
  border-radius: 15px;
}

